@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Доставка";
}

<div class="main_text_box">
    <div>
        В магазине товаров для творчества "Пеинтер" для клиентов доступно получение заказов тремя способами:
    </div>
    <div class="list_box" style="font-weight: 600; color:#6c8aae;">
        <ul class="list_text">
            <li> - Самовывоз</li>
            <li> - Курьерская доставка</li>
            <li> - Доставка по Почте России</li>

        </ul>
    </div>

    <div>
        <h2>Самовывоз</h2>
    </div>
    <div>
        Забрать свой заказ можно по адресу: г.Йошкар-Ола, ул.Петрова, д.30а (ТЦ "Планета, 1 этаж")
        <div>
            <h3>Режим работы пункта самовывоза:</h3>
            <div>
                <ul class="list_text">
                    <li>Пн-Пт: 9.00-19.00</li>
                    <li>Сб-Вс: 10.00-18.00</li>
                    <li>11.00-12.00 - обед</li>
                </ul>
            </div>
        </div>

    </div>



    <div>
        <h2>Курьерская доставка</h2>
    </div>
    <div>
        Курьерская доставка осуществляется в течение 3-5 рабочих дней. Курьер сообщит вам о своем прибытии за 1,5-2 часа.
        <div>
            <h3>Режим работы курьера:</h3>
            <div>
                <ul class="list_text">
                    <li>Пн-Пт: 9.00-19.00</li>
                    <li>Сб-Вс: 10.00-18.00</li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <h2>Доставка по почте</h2></div>
        <div>
            Доставка осуществляется в течение 10-20 дней. Адрес почты указывается в поле "Адрес доставки" или определяется автоматически, согласно указанному адресу.
        </div>

    </div>
