@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Оплата";
}


<div class="main_text_box">
    <div>
       Для оформления заказа вам необходимо быть <span style="color:#6c8aae;">зарегистрированным</span> на сайте электронного магазина и <span style="color:#6c8aae;">войти</span> в свою учётную запись.       
    </div>
    <div>
        Чтобы оплатить заказ на любую сумму в магазине товаров для творчества "Пеинтер", введите  <span style="color:#6c8aae;">промокод "FREE"</span> в поле промокода при оформлении заказа.
        Если промокод останется пустым, после нажатия кнопки "Оплатить заказ", вас снова вернет на страницу оформления заказа.
     </div>
          

    <div>
       Информация о ваших заказах находится по ссылке <span style="color:#6c8aae;">"Мои заказы"</span> в шапке сайта. Для получения дрступа к ней необходимо авторизоваться.
    </div>

</div>
