@{
    ViewBag.Title = "Успешный заказ";
}


<div class="exit_block">
    <span> Оплата прошла успешно, начинаем собирать ваш заказ :) </span>
    <br />
    <a asp-action="Browse" asp-controller="Store">Купить что-нибудь еще</a> 
</div>
