/* обнуление всего*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,* :before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active{outline:none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input ::-ms-clear{display: none;}/*псевдоэл крестик в эксплорере при вводе*/
button{cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0 ;}/*уберет отступы в кнопке*/
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
/*----------------------Обнуление--------------------------*/

/* 
#94bedf нежно сизый
#6c8aae темно-сизый
#ffc545 желто-оранж
#f26938 коралл
#c6a390 бело-корич
#8ecdbc бело-зелен

*/

@font-face {
    font-family: 'Conv_AmaticSC-Regular';
    src: url('../fonts/AmaticSC-Regular.eot');
    src: local('☺'), url('../fonts/AmaticSC-Regular.woff') format('woff'), url('../fonts/AmaticSC-Regular.ttf') format('truetype'), url('../fonts/AmaticSC-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_AmaticSC-Bold';
    src: url('../fonts/AmaticSC-Bold.eot');
    src: local('☺'), url('../fonts/AmaticSC-Bold.woff') format('woff'), url('../fonts/AmaticSC-Bold.ttf') format('truetype'), url('../fonts/AmaticSC-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
    color: #8f8f8f;
    font-family: 'Conv_AmaticSC-Bold';
    background-color: #f8f8f8;
    border-top: 10px solid #f8f8f8;
    min-width: 1200px;
}

.Wrapper {
    margin: 0 auto;
}
.header {
    background-color:white;
    padding: 20px 50px;/*up left*/
}

.search_form{
    margin-left: 10px;

}

.search_inp {
    font: 'Oswald', sans-serif;
}


.logo {
    height: 120px;
}

.bi-pencil-fill{
    fill:  #6c8aae;
}
.bi-pencil-fill:hover{
    fill:  #f26938;
}

.bi-person-fill{
    fill:  #6c8aae;
}
.bi-person-fill:hover{
    fill:  #f26938;
}

.bi-basket2-fill{
    fill:  #6c8aae;
}
.bi-basket2-fill:hover{
    fill:  #f26938;
}

.list_func a:hover{
    fill:  #f26938;
    color:  #f26938;
}



.pers_bask_comp{
    display: inline;
}


.list_func li {
    display: inline;
    font-family: 'Conv_AmaticSC-Regular';
    font-size:23px;
    font-weight: 300;
    padding: 5px;
}


nav{
    margin-left: 35%;
}

    nav li {
        list-style-position: inside;
        font-family: 'Conv_AmaticSC-Regular';
        font-size:23px;
        font-weight: 300;
        padding: 10px;
    }

.top-menu li {
    display: inline-block;
    font-family: 'Conv_AmaticSC-Regular';
    font-size:25px;
    padding: 10px 30px;
}


.top-menu li.catalog {
        background: #6c8aae;
}

.top-menu a {
    color: #505050;
}

.top-menu a:hover {
        color: #6c8aae;
}

.top-menu a.cat {
        color: white;
}



.head {
    background: #ffc545;
    margin: 10px 0px;
    padding-left: 100px;
}

h1 {
    display: inline-block;
    color: #3a3a3a;
    font: 40px/40px 'Oswald', sans-serif;
    background: #f8f8f8;
    padding: 3px 10px;
}

input[type="text"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 30px;
    width: 200px;
    color: #8f8f8f;
    padding: 0 10px;
    vertical-align: top;
}

input[type="text"]:focus {
        border: 2px solid #8ecdbc;
}

button {
    color: #fff;
    background-color: #6c8aae;
    border: none;
    font-family: 'Oswald', sans-serif;
    height: 30px;
    width: 30px;
}

.search_but {
    height: 30px;
    width: 30px;
}

.add_bask_but {
    height: 50px;
    font-size: 20px;
    width: 230px;
}

.add_bask_but:hover {
        background-color: #517aac;
    }

p {
    margin: 20px 0;
}

.bi-basket2-fill2 {
    fill: #fff;
}

.det_img {
    border: 3px solid #1d8ea6;
    margin: 60px;
    text-align: center;
    padding: 30px;
    background-color: #fff;
}


.product_data {
    margin-left: 40px;
    margin-bottom: 150px;
}

    .product_data h2 {
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        border-bottom: 3px solid #9e7661;
        margin-bottom: 10px;
        max-width: 230px;
    }

.name_det {
    color: #3a3a3a;
    margin-left: 30px;
    margin-top: 50px;
}

.price_det {
    color: #505050;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    margin: 60px;
}

.quant_det {
    margin-left: 30px;
    margin-bottom: 40px;
}

input[type="number"] {
    border: 1px solid #6c8aae;
    height: 30px;
    width: 100px;
    padding: 0 10px;
    font-family: 'Oswald', sans-serif;
    margin-left: 5px;
}

.butt_bask_add {
    margin-left: 30px;
    margin-bottom: 50px;
    display:flex;
}

    .butt_bask_add div {
        padding: 20px 0px 0px 20px;
    }

.char_det {
    margin-left: 30px;
    font-weight: 300;
    font-size: smaller;
    color: #505050;
    font-family: 'Conv_AmaticSC-Regular';
    font-size:18px;
}

.char_det span {
        color: #505050;
        font-weight: 700;
        font: 20px 'Amatic SC';
}

.square {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-left:5px;
    border: 1px solid #505050;
}

aside {
    float: left;
    width: 250px;
    margin-left: 10px;
}


.aside-menu li {
    font-weight: 300;
    list-style-type: square;
    border-top: 1px solid #e7e7e7;
    padding-left: 2px;
}

.aside-menu li:hover{
    font-size: 24px;
    color:#ffc545;
}

.aside-menu li:first-child{
    font-weight: 700;
    border: none;
    font-size: 25px;
    list-style-type:none;
}
.aside-menu li:first-child:hover{
    font-size: 25px;
    color: #f26938;
}

.aside-menu li.technics{
    color: #f26938;
    font-weight: 500;
}

.aside-menu a{
    color: #8f8f8f;
}
.aside-menu a:hover{
    color: #8f8f8f;
}

section {
    margin-left: 60px;
    padding-bottom: 100px;
    padding-right: 70px;
}

table.page td {
    vertical-align:top;
    height: 600px;
    margin-bottom: 1000px;
}

blockquote {
	margin: 0;
	background: #8ecdbc;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

blockquote p {
	color: #fff;
	font-style: italic;
	font-size: 33px;
	margin: 0;
}


section > h2 {
    background: #1d8ea6;
    font-family: 'Conv_AmaticSC-Regular';
    font-size:30px;
    color: #fff;
    padding: 0 10px;
    margin: 30px 0 0 0;
}

figure {
	display: inline-block;
	margin: 30px 0px 0px 0px;

}


.brows_tab {
    display: flex;
    flex-direction: column;
    min-width: 900px;
}



.news-row {
    display: flex;
    flex-direction: row;
    padding: 40px 0px 0px 20px;
}

.prod_cell {
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    color: #29c5e6;
    width: 180px;
}
.img_box {
    padding: 10px 0px 10px 33px;
}
.caption_box {
    padding: 5px;
    color:indigo;
    max-width: 160px;
}
    .caption_box span {
        color: black;
        font-family: 'Oswald', sans-serif;
    }

.name {
    height: 50px;
    font-size: 16px;
    font-weight: 300;
}



footer {
    background-color: #9e7661;
    color: #dbdbdb;
    font-size: 11px;
}

.footer{
    max-width: 1200px;
    margin: auto;
    padding: 10px 0px;
    height: 120px;
}

.footer td{
    width: 30%;
}


footer h3{
    font: 14px 'Oswald', sans-serif;
	color: #fff;
	border-bottom: 1px solid #919191;
    margin: 0 100px 5px 0;
}


footer a{
    color: #dbdbdb;
}

.social a {
    margin-left: 10px;
}

.sitemap div {
    display: inline-block;
    padding-left: 10px;
}

.sitemap a{
    display: block;
    font-size: 11px;
    margin-bottom: 10px;
}

.sitemap a:hover {
    text-decoration: underline;
}

.social img {
    width: 30px;
	height: 30px;
	display: inline-block;

}
 .images {
 margin: 0px 0px 30px 0px;
}

.table_manager td {
    padding-left: 5px;
    padding-right: 55px;
}

.table_manager {
    background-color:white;
}

.table_manager thead {
    background-color: #94bedf;
    color: black;
}

.table_manager th {
        height: 30px;
        padding: 3px 15px;
        font-size: 17px;
}

.table_manager tr {
        height: 30px;
}
.section_manager {
        margin-left: 100px;
}

.bi-plus-square {
    fill: #fff;
}

.create_but {

    width: 200px;
    height: 35px;
    margin: 20px 0px 20px 0;
}



.create_but span {
        font-size:17px;
}

    .create_but:hover {
        background-color: #517aac;
    }

    .create_but:disabled {
        background-color: #94b1d4;
    }

.create_form_block {
    margin: 20px 20px 20px 0;
}

.form_create {
    margin-left: 110px;
    font-size: 20px;
    color: #3a3a3a;
}


.form_create input {
    margin-left: 50px;
    font-size: 20px;
    font: 15px "Oswald", sans-serif;
    color: #575757;
}

.back {
    margin-bottom: 50px;
    margin-left: 30px;
}

.label_form {
    width: 100px;
    display: inline-block;
}

.label_form1 {
    width: 150px;
    display: inline-block;
}

.det_tab dt{
    
}

.det_tab dd {
    font: 17px 'Oswald', sans-serif;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 5px;
    color: #676666;
}

.box_del {
    margin-top:20px;
}
.text-danger {
    color: red;
}

.log_form {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10%;
    font-size: 17px;
}

    .log_form div {
        padding: 20px 30px;
    }

.reg_form {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10%;
    font-size: 17px;
}

.prof_box {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
}

.reg_div_three div {
    padding: 20px 30px;
}
.reg_div_two div{
    padding: 20px 30px;
}

.reg_div_par div{
    padding: 20px 0px;
}
.col_one div {
    padding: 20px 30px;
}

.reg_form input {
    width: 300px;
}



input[type="password"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 30px;
    width: 300px;
    color: #8f8f8f;
    padding: 0 10px;
    vertical-align: top;
}
    input[type="password"]:focus {
        border: 2px solid #8ecdbc;
    }

input:disabled {
    background-color: #d4f6ed;
}
.lab {
    margin-left: -30px;
}



.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content span {
        display: block;
        padding: 12px;
    }

    .dropdown-content a:hover {
        background-color: #ffeabd;
    }


.dropdown:hover .dropdown-content {
    display: block;
}



.bask_table {
    display: flex;
    flex-direction: column;

    color: black;
    font: 17px 'Oswald', sans-serif;
}

.prod_row {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background: white;
    margin-bottom: 20px;
}


.img_bask_td {
    width: 150px;
    padding: 10px 0px 30px 30px;
}

.inf_prod_td {
    width: 400px;
    padding: 30px;
}

.inf_prod_td span {
    display: block;
    margin-top: 15px;
    padding-left: 20px;
}

.name_prod {
    font-size: 20px;
    font-weight:700;
}

.kol_td {
    display: flex;
    width: 200px;
    padding: 80px 30px;
}
.kol_span {
    margin: 0px 10px 0px 10px;
    width: 40px;
    height: 30px;
    /*padding-left: 25%;*/
    text-align: center;
}

.plus_minus_box {
    padding: 4px 0px 4px 0px;
}

.plus_minus_box a :active{
    color: blueviolet;
}

.del_td {
    width: 60px;
    padding-top: 6%;
}

.bask_content {
    display: flex;
    flex-direction: row;
    background: #f8f8f8;
}

.table_bask {
    margin: 30px 0px 50px 50px;
}

.total_box {
    position: sticky;
    top: 30px;
    margin-top: 30px;
    margin-left: 30px;
    min-height: 2em;
    background: white;
    border-radius: 10px;
    width: 310px;
    height: 340px;
    padding: 50px;
    margin-bottom: 40px;
    color:black;
    font: bold 22px 'Oswald', sans-serif;
}

.total_box span{
    display:block;
    margin-bottom: 20px; 
}

.total {
    color:grey;
}

.exit_block {
    margin: 100px;
    color: darkgray;
    font: 22px 'Oswald', sans-serif;
}
.exit_block a{
    color:blueviolet;
}

.deliv_radio_box {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    margin-left: 18px;
}
    .deliv_radio_box div {
        margin-right: 15px;
    }

.cl_data_lab {
    font: bold 25px 'Oswald', sans-serif;
}

.inf_prod {
    margin-bottom: 0px;
    margin-top: 0px;
}

.total_box_buy {
    position: sticky;
    top: 30px;
    margin-top: 30px;
    margin-left: 30px;
    min-height: 2em;
    background: white;
    border-radius: 10px;
    width: 310px;
    height: 430px;
    padding: 50px;
    margin-bottom: 40px;
    color: black;
    font: bold 22px 'Oswald', sans-serif;
}

.total_box_buy span {
    display: block;
    margin-bottom: 20px;
}

.first_col {
    display: flex;
    flex-direction: column;
}

.promo_inp {
    margin: 20px 0px 20px 0px;
}

.back_bask {
    margin:50px 0px 50px 50px;
}

.viewport {
    width: 300px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.slidewrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    margin: 0;
    padding: 0;
}

.slide {
    width: 300px;
    height: 100px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #ff0000;
}

.second {
    background: #00ff00;
}

.third {
    background: #0000ff;
}

.repeat_par {
    display: none;
    border: solid 1px greenyellow;
    padding: 10px;
    border-radius: 3px;
    max-width: 370px;
}

.text-danger {
    padding: 10px;
    color: red;
}

.main_text_box {
    margin: 30px 0px 100px 50px;
    color: #2f2f2f;
    line-height: 1.5;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    background-color: white;
    width: 78%;
}

    .main_text_box h2 {
        color: #6c8aae;
        font-size: 20px;
    }
    .main_text_box h3 {
        color: black;
        font-size: 17px;
    }

.main_text_box div{
    margin: 20px 0px 10px 50px;
    max-width: 800px;
}

.list_text li{
    margin-top:20px;
}

.list_box {
    padding-left:40px;
    padding-bottom:40px;
}

.title_inter > h2 {
    background: #1d8ea6;
    font-family: 'Conv_AmaticSC-Regular';
    font-size: 30px;
    color: #fff;
    padding: 0 10px;
    margin: 30px 0 0 0;
}